@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@media screen and(min-width: 800px){
    
}
:root{
   --laranja: #F26433;
   --preto: #5A5A54;
   --azul: #4387F4;
   --azulescuro: #26547C;
   --brancoclaro: #F8F8F8;
   --fontes: 'Raleway', sans-serif;
}

*{
    padding: 0px;
    margin: 0px;
    color: var(--preto);
    font-family: var(--fontes);
    box-sizing: border-box;
}
body{
    background-color: var(--laranja);
}
/* CONFIGURAÇÕES DO HEADER */

header{
    background-color: var(--brancoclaro);
    text-align: center;
    width: 100vw;
}
header > menu{
    background-color: white;
    height: 45px;
    width: 100vw;
}
header > h1{
    color: var(--laranja);
    letter-spacing: 0.25em;  
    font-size: 1.5em; 
    font-weight: 400; 
    padding-top:30px;
}
header > #idioma{
    font-size: 0.8em;
    margin: 10px;
}
header > h2{
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 20px;
}
header > p{
    font-size: 1em;
    max-width: 710px;
    display: inline-block;
    padding: auto;
    padding-bottom: 20px;
}
/* BACKGROUND DE CADA AREA*/
.area1{
    background-color: white;
    width: 100vw;
}
.area2{
    background-color: var(--brancoclaro);
    width: 100vw;
}
.area3{
    background-color: var(--azulescuro);
    width: 100vw;
}
footer{
    max-width: 100vw;
    padding-left: 20px;
    color: white;
}
/* INICIO DAS CONFIGURAÇÕES DO BLOCO 01 */

#quem-e{
    max-width: 710px;
    display: grid;
    gap: 5px;
    grid-template-areas: 
    'h3 h3 h3 img'
    'p p p  img'
    'bt bt bt img';
    padding-bottom: 20px;
    margin: auto;
}

#quem-e > h2{
    padding-top: 30px;
    padding-bottom: 15px;
    text-align: center;
    display: block;
    grid-area: h3;
    font-weight: 500;

}
#quem-e > p{
    margin-bottom: 10px;
    text-align: center;
    grid-area: p;
    font-size: 0.8em;
}
#quem-e > img{
    display: block;
    grid-area: img;
    margin-top: 30px;

}
#botao_tec {
    background-color: var(--azul);
    color: white;
    display: block;
    grid-area: bt;
    padding: 5px;
    font-size: 0.8em;
    text-align: center;
    width: 80%;
    margin: auto;
    margin-top: 5px;
    border-radius: 2px;
}
/* INICIO DAS CONFIGURAÇÕES DO BLOCO 02 */
#tecnologias{
    margin: auto;
    max-width: 710 ;
    margin-bottom: 0px;
}
#tecnologias > h2{
    padding-top: 30px;
    padding-bottom: 15px;
    margin: auto;
    grid-area: h3;
    font-weight: 500;
    text-align: center;
}
#html, #css, #javascript, #node, #figma{
    display: inline-block;
    margin: 10px;
    margin-bottom: 40px;
    
}
#html, #css, #javascript, #node, #figma > img{
    height: 64px;
}    
.picture{
    display: flex;
    margin: auto;
    justify-content: center;
}
/* INICIO DAS CONFIGURAÇÕES DO BLOCO 03 */

#portifolio{
    max-width: 710px;
    margin: auto;
    display: block;
}
#portifolio > h2{
    padding: 30px;
    text-align: center;
    color: white;
    font-weight: 500;
}
#projetos{
    background-color: white;
    padding: 20px;
    border-radius: 4px 4px 0px 0px;
    display: flex;
    margin: auto;
}
/* INICIO DA ÁREA DE PROJETOS */

.projeto01 > h4{
    margin-bottom: 10px;
}
.projeto01 > img{
    border-radius: 6px;
    border: 1px solid #5a5a54bd;
    margin-top: 20;
}
.projeto01 > p{
    font-size: 0.9em;
    display: absolute;
    margin-top: 15px;
}
.botaoprojeto{
    background-color: var(--azul);
    padding: 5px;
    color: white;
    font-size: 0.9em;
    display: block;
    margin-top: 10px;
    text-align: center;
    max-width: 200px;
    border-radius: 2px;
}
/* INICIO DO FOOTER */

#nome{
    color: white;
    letter-spacing: 0.25em;
    margin-bottom: 20px;
}
footer .content_footer{
    max-width: 710px;
    margin: auto;
    padding: 20px 0px 0px 0px;
}
#redessociais > p{
    display: inline-block;
    color: white;
    margin-bottom: 20px;
    font-size: 0.9em;
}
#footer2{
    color: white;
    text-align: center;
    font-size: 0.7em;
    padding-bottom: 5px;
    
}

